<h2>Store : Village Grocer</h2>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="element.stock === 'y' ? '' : 'notavailable'"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"  [ngClass]="element.stock === 'y' ? '' : 'notavailable'"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Rack </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="element.stock === 'y' ? '' : 'notavailable'"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Shelf </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="element.stock === 'y' ? '' : 'notavailable'"> {{element.symbol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> RM </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="element.stock === 'y' ? '' : 'notavailable'"> {{element.price}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="groupHeader">
      <mat-cell *matCellDef="let group">{{group.group}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row>

  </mat-table>
