<h2>Your shopping list</h2>

<!-- <mat-list *ngFor="let list of lists">
    <mat-list-item>
      <button>{{list.id}}</button>{{list.name}}
      <span class="example-fill-remaining-space"></span>
  
      <button (click)="delete(list)" color="primary">
          <mat-icon>cancel</mat-icon>
        </button>

    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list> -->
  <mat-list *ngFor="let list of lists">
      <mat-list-item>
        <img matListAvatar src="{{list.imageUrl}}" />
        <h4 routerLink="/detail/{{list.id}}" mat-line>{{list.name}}</h4>
        <h6 *ngIf="list.onSale" mat-line><s>RM {{list.price}}</s> RM {{list.discount}}</h6>
        <h6 *ngIf="!list.onSale" mat-line>RM {{list.price}}</h6>
  
        <span *ngIf="list.onSale" class="badge badge-pill badge-danger">On sale</span>
        <mat-action-list>
            <button class="btn btn-danger" (click)="delete(list)">
                <mat-icon>cancel</mat-icon>
              </button>
        </mat-action-list>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
<mat-card>
    <mat-form-field style="width: 100%;
    margin-right: 1em;">
        <mat-select placeholder="Select store" [formControl]="foodControl">
          <mat-option *ngFor="let food of foods" [value]="food">
            {{food.viewValue}}
          </mat-option>
          
        </mat-select>
        <!-- {{foodControl.value?.value}} -->
      
      </mat-form-field>

      <button mat-raised-button [routerLink]='goStore(foodControl.value?.value)'>Go</button>
      <span class="example-fill-remaining-space"> </span>
      <button mat-raised-button>Checkout</button>
</mat-card>
