<h2>Your shopping list</h2>


<!-- <ul class="heroes">
  <li *ngFor="let list of lists">
    <a routerLink="/detail/{{list.id}}">
      <span class="badge">{{list.id}}</span> {{list.name}}
      <span>{{list.location}}</span>
    </a>
    <button class="delete" title="delete list"
      (click)="delete(list)">x</button>
  </li>
</ul> -->
<mat-list *ngFor="let list of lists">
    <mat-list-item>
      <button>{{list.id}}</button>{{list.name}}
      <span class="example-fill-remaining-space"></span>
  
      <button (click)="delete(list)" color="primary">
          <mat-icon>cancel</mat-icon>
        </button>
        <!-- <button (click)="addList(hero)" class="sm-button" color="primary">
          <mat-icon>add_shopping_cart</mat-icon>
        </button> -->
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
<mat-card>
    <mat-form-field style="width: 100%;
    margin-right: 1em;">
        <mat-select placeholder="Select store" [formControl]="foodControl">
          <mat-option *ngFor="let food of foods" [value]="food">
            {{food.viewValue}}
          </mat-option>
          
        </mat-select>
        <!-- {{foodControl.value?.value}} -->
      
      </mat-form-field>

      <button mat-raised-button [routerLink]='goStore(foodControl.value?.value)'>Go</button>
      <span class="example-fill-remaining-space"> </span>
      <button mat-raised-button>Checkout</button>
</mat-card>



